**/.DS_Store
/.idea/
/.vscode/

**/__pycache__/
**/.ipynb_checkpoints/

# django
**/migrations/
!**/migrations/__init__.py
staticsfile/
uwsgi.out
logs/
/media/

# config
WordReview/config.conf

# PyInstaller
WordReview/build/
WordReview/dist/
*.spec

# local
data/
*.sqlite3
/backup/
/pypi/
WordReview.wiki/
*_ig.*