{% extends "base.pug" %}
{% block title %}艾宾浩斯记忆日历{% endblock %}
{% block css %}
link(href="/static/css/calendar.css" rel="stylesheet")
script(src="/static/js/calendar.js")
{% endblock %}

{% block content %}
div.container.flex-column
  div.align-self-center
    table(border='1')
      tbody#tbMain
        tr
          th 日
          th 一
          th 二
          th 三
          th 四
          th 五
          th 六
  div#yesterday-mode.list-block(href="/review/review?limit=50" style="width: 35%!important; align-self: center;")
    a 昨日重现
{% endblock %}