#meaning-box{
    width: 300px;
    min-height: 200px;
    /* border: 1px solid grey; */
    margin: 20px;
    justify-content: center;
    display: flex;
    padding: 20px;
    cursor: pointer;
}

#tmpl-index{
    text-align: center;
    color: grey;
    font-size: 13px;
}

#tmpl-total-num{
    width: 100%;
    text-align: center;
    color: white;
}

.btn-div{
    justify-content: space-around;
    display: flex;
    margin-top: 30px;
    width: 320px;
}

.progress-div{
    display: flex;
    justify-content: center;
}

.bg-palevioletred{
    background-color: palevioletred;
}

.btn-jump{
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    border-radius: .25rem!important;
    width: 18px;
    text-align: center;
    cursor: pointer;
    background-color: grey;
    color: white;
    height: 27px;
}

.last-forget{
    color: red;
}

.last-remember{
    color: grey;
}

.sort-array{
    margin: 0 5px;
    cursor: pointer;
}

#jump-index{
    background-color: transparent !important;
    width: 50px;
}

#btn-quick-jump{
    color: grey;
}

.side-card{
    width: 200px;
    height: inherit;
}

#echarts-left{
    height: 100%;
}

#echarts-bottom{
    width: 600px;
    height: 15rem;
}

#tmpl-note{
    width: 90%;
    height: 76%;
    margin: 22px 0px 0px 20px;
    padding: 10px 10px;
    /* border: 0; */
}
.repeat,.norepeat{
    margin: 0 5px;
    cursor: pointer;
}