{% extends "base.pug" %}
{% block title %}单词复习{% endblock %}
{% block css %}
script(src="/static/js/echarts.min.js")
link(href="/static/css/review.css" rel="stylesheet")
script(src="/static/js/review.js")
{% endblock %}

{% block content %}
nav.navbar.navbar-light.bg-light.sticky-top
  a.navbar-brand(href="/review/") 
    img(src="/static/media/muyi.png"  height="30" class="d-inline-block align-top" alt="")
    | &nbsp Word Review
  div.d-flex.flex-row
    div.d-flex.flex-row.justify-content-center(style="margin-right: 40px;")
      input#jump-index.form-control
      button#btn-quick-jump.btn 跳转
    div.navbar-nav.ml-auto.flex-row
      li.nav-item(style="margin-right:20px;")
        a.nav-link.repeat.cur-p 重现模式:开
      li.nav-item
        a.nav-link.sort-array 顺序
      li.nav-item
        a.nav-link.sort-array 乱序
      li.nav-item
        a.nav-link.sort-array 记忆序
      li.nav-item
        a.nav-link.sort-array 次数序


div.container.flex-column
  div.align-self-center
    div(style="text-align: center")
      h1#tmpl-word 
    div#tmpl-index
    div.d-flex.flex-row
      div.side-card
        div#echarts-left.hide
      div.align-self-center.btn-jump#jump-back &laquo;
      div
        div#tmpl-last-word
        div#meaning-box.rounded.shadow
          div.align-self-center#tmpl-content.d-none.hide
      div.align-self-center.btn-jump#jump-forward &raquo;
      div.side-card.justify-content-center#active-note
        div(style="color:grey;text-align:center").hide.d-none
          | Note
        textarea#tmpl-note.form-control.hide.d-none.d-n-note
    div.progress-div
      div.progress(style="width:250px; background-color: palevioletred")
        div.progress-bar.bg-dodgerblue(role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100")
          a#tmpl-progress
        div#tmpl-total-num
    div.d-flex.justify-content-center
      div.btn-div
        button.btn.btn-secondary.shadow#btn-forget.jump-btn 不认识
        button.btn.btn-primary.shadow#btn-remember.jump-btn 我记得
    div.d-flex.justify-content-center(style="margin-top:20px;")
      div#echarts-bottom
    




input#clipboard(style="position: absolute;top: 0;")
{% endblock %}