{% extends "base.pug" %}
{% block title %}单词复习{% endblock %}
{% block css %}
link(href="/static/css/review.css" rel="stylesheet")
script(src="/static/js/review.js")
{% endblock %}

{% block content %}
nav.navbar.navbar-light.bg-light.sticky-top.navbar-expand-lg
  a.navbar-brand(href="/review/") 
    img(src="/static/media/muyi.png"  height="30" class="d-inline-block align-top" alt="")
    | TG Word
  //- button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarSupportedContent", aria-controls="navbarSupportedContent", aria-expanded="false", aria-label="Toggle navigation")
  //-   span.navbar-toggler-icon
  //- div.collapse.navbar-collapse#navbarSupportedContent
  div
    //- ul.navbar-nav.mr-auto
    //-   li.nav-item#active-push
    //-     a.nav-link(href="/push/") 所有推送 
    //-   li.nav-item#active-photo
    //-     a.nav-link(href="/push-select/?select=photo") 采风
    div.navbar-nav.ml-auto.d-flex.flex-row
      li.nav-item
        a.nav-link.sort-array 顺序
      li.nav-item
        a.nav-link.sort-array 乱序
      li.nav-item
        a.nav-link.sort-array 记忆序
      li.nav-item
        a.nav-link.sort-array 次数序


div.container.flex-column
  div.align-self-center
      div(style="text-align: center")
        h1#tmpl-word 
      div#tmpl-index
      div#tmpl-last-word
      div.d-flex.flex-row
        div.align-self-center.btn-jump#jump-back &laquo;
        div#meaning-box.rounded.shadow
          div.align-self-center#tmpl-content.d-none
        div.align-self-center.btn-jump#jump-forward &raquo;
      div.progress-div
        div.progress(style="width:250px; background-color: dodgerblue")
          div.progress-bar.bg-palevioletred(role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100")
            a#tmpl-progress
          div#tmpl-total-num
      div.btn-div
        button.btn.btn-secondary.shadow#btn-forget 不认识
        button.btn.btn-primary.shadow#btn-remember 我记得
{% endblock %}