doctype html
html
  head
    title {% block title %}{% endblock %}

    //- {% load sass_tags %}
    meta(http-equiv="Access-Control-Allow-Origin" content="*")

    link(href="/static/bootstrap/bootstrap.min.css" rel="stylesheet")
    link(href="/static/css/font-awesome.min.css" rel="stylesheet")
    link(href="/static/css/base.css" rel="stylesheet")
    script(src="/static/jquery/jquery-3.4.1.min.js")
    script(src="/static/jquery/jquery.tmpl.min.js")
    script(src="/static/layer/layer.js")
    
    script(src="/static/js/util.js")
    {% block css %}{% endblock %}

  body
    {% block content %}{% endblock %}